<body>
<div id = "list">
  <input type="text" placeholder="Filter by class" #filter>
  <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>

<h2>Subjects</h2>
    <form>
    <p *ngFor="let s of filteredSubject" (click)="onSelect(s)">
      
              <span class="badge">{{s.name}}</span> 
                
    </p>
    </form>
</div>

<div id = "selClass" style = "display: none;">
<label>
    
    <p (click) = "resetPage()"> Go Back</p>
    <h2>{{selectedSubject.name | uppercase}} Details</h2>
    

    <table id = "table"></table>
  </label>
</div>