/* CSS */
.container {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.question {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 250px;
}
#yes{
    float: left;
    position:relative;
}
#no{
    float:right;
    position: relative;
}
.question-text {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.response-count {
    color: #666;
    margin-bottom: 15px;
}

.response-options div {
    margin-bottom: 8px;
}

.option1 {
    font-style: italic;
    color: #03b53e; /* or any color you prefer for options */
}
.option2 {
    font-style: italic;
    color: #b50303; /* or any color you prefer for options */
}

.progress-bar1 {
    position : relative;
    top: 15px;
    height: 10px;
    background-color: #b50303; /* or any color you prefer for progress bars */
    width: 1000; /* Initial width will be set dynamically */
    margin-top: 5px;
    border-radius: 5px;
}
/* Updated CSS with progress bar styles */
.progress-bar {
    position : relative;
    height: 10px;
    background-color: #03b53e; /* or any color you prefer for progress bars */
    width: 0; /* Initial width will be set dynamically */
    margin-top: 5px;
    border-radius: 5px;
}