<div id = "ClassList">
  <input type="text" placeholder="Filter by class" #filter>
  <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>

  <h2>Classes</h2>

    <form>
    <p *ngFor="let class of filteredClass" (click)="onSelect(class)">
      
              <span class="badge">{{class.name}}</span> 
                
    </p>
    </form>

</div>

  <label>
    <div id = "Reviews" style="display:none">
    <p (click) = "resetPage()"> Go Back</p>
    <h2>{{selectedClass.name | uppercase}} Details</h2>
    <p>Subject: {{selectedClass.subject}}</p>
    <p>Class Code: {{selectedClass.code}}</p>
    <p>Credits: {{selectedClass.credits}}</p>
    <p>Prerequisite: {{selectedClass.prereq}}</p>
  </div>
  </label>

