<!DOCTYPE html>
<html>

<body>
   
    <label for="subject">Choose a subject</label>

<select name="subject" id="subject" >
    <option value="N/A">Select An Option</option>
    <option value="mathematics">Math</option>
    <option value="ss">Social Studies</option>
    <option value="cs">Computer Science</option>
    <option value="art">Art</option>
    <option value="la">Language Arts</option>
    <option value="music">Music</option>
    <option value="pe">Physical Education</option>
    <option value="eng">Engineering</option>
    <option value="science">Science</option>
    <option value="wl">World Language</option>
    <option value="business">Business</option>
</select>

    
</body>
</html>